
.JavaScript, .Python, .Ruby {
display: none;
}

.jumbotron {
  background-color: #222222;
  Color: #49A19A;
}

body {
  background-color: #49A19A;
}

#color {
  background-color: #222222;
  color: #49A19A;
}

#usage {
  background-color: #222222;
  color: #49A19A
}
#amigo {
  background-color: #222222;
  color: #49A19A;
}
#hogwarts {
  background-color: #222222;
  color: #49A19A
}
#instructor {
  background-color: #222222;
  color: #49A19A
}
.submit {
display: block;
}
